@model IEnumerable<InduccionSemana4.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>
<br />
<<p>
    <a asp-action="Create" class="btn btn-default" ><strong>Agregar Cliente</strong></a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClaveCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClaveCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm" >Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm" >Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary btn-sm" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
